
<!DOCTYPE html> 
 

<title>Admin</title>

<head>

 <meta name="keywords" content="DIGI card, Digital Visiting Card">
 
 <meta name="description" content="Best digital visiting card online with great design">
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <link rel='stylesheet' href='/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  
  <link rel="stylesheet" href="/css/awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <meta      name='viewport'      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
{{!-- <link rel="fav-icon" href="images/logo.png" type="image/png"> --}}
<link rel="stylesheet" href="/cardtheame/css.css" >
<link rel="stylesheet" href="/cardtheame/mobile_css.css" >


<script>
	 function gfg() {
document.getElementById("clickMe").innerHTML = "Geeks For Geeks"}
</script>

</head>

<header id="header">
	<div class="logo" onclick="location.href='index.php'">
		<img src="/logo.png"><h3>ADMIN</h3>
	</div>
	<div class="mobile_home">&equiv;</div>
	<div class="head_txt">
		<h3>Hi! {{this.name}}		</h3>
		<h3>
		<a href="logout.php"><i class="fa fa-sign-out"></i> Logout</a>
		
		</h3>
	</div>
	

</header>


<script>

$(document).ready(function(){
	$('.mobile_home').on('click',function(){
		$('#header').toggleClass('add_height');
		
	})
})

</script>






<style>

</style>
<div id="alert_display_full">
	<div id="loader1"></div>
	<h3>Loading...</h3>

</div>

<div class="main3">

	<div class="btn_holder">
		<a href="create_card.php"><div class="back_btn"><i class="fa fa-chevron-circle-left"></i> Back</div></a>
		<a href="/userpanel/companydetail"><div class="skip_btn">Next <i class="fa fa-chevron-circle-right"></i></div></a>
	</div>
	<h1>Select Theme for your card.{{userId}}</h1>
	<center>
		{{#each template}}
		<div class="theme">
	

				<a onclick="myFunction('{{_id}}')"><img src="{{image}}" ></a>
			
		</div>	
		
		{{/each}}




	</center>



	
  
    
  
    {{!-- <p id="geek1"></p>
    <p id="geek2"></p> --}}
  
    <script>
        function myFunction(id) {
            fetch("http://localhost:8000/api/v1/selectedTemplate", {
      
    // Adding method type
    method: "POST",
      
    // Adding body or contents to send
    body: JSON.stringify({
        userId: "{{userId}}",
        TemplateId:id
    }),
      
    // Adding headers to the request
    headers: {
        "Content-type": "application/json; charset=UTF-8"
    }
})
  
// Converting to JSON
.then(response => response.json())
  
// Displaying results to console
.then(json => console.log(json));
	alert("done")

        }
    </script>
	<a href="/userpanel/companydetail/{{userId}}"> Create Company Detail</a>
</div>



<footer class="">
	<p>© www.localtodigital.in || 2021</p>
</footer>